@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 87%);
}

/* body {
  background-color: var(--body-color);
  color: var(--text-color);
} */
